<div class="icons">
    <a routerLink="."> <img src="../../../assets/Dashboard-icons/Reminder.svg" class="card-icons"></a>
    <a routerLink="."><img src="../../../assets/Note-icons/collab.svg" class="card-icons"></a>
    <a routerLink="."> <img src="../../../assets/Note-icons/color.svg" class="card-icons"></a>
    <a routerLink="."><img src="../../../assets/Note-icons/image.svg" class="card-icons"></a>
    <a routerLink="."><img src="../../../assets/Note-icons/Archive.svg" class="card-icons" (click)="onArchive()"></a>
    <a routerLink="."> <img src="../../../assets/Note-icons/more.svg" class="card-icons"></a>
</div>