<div class="reg-layout">
    <div class="container">
        <div class="reg-container">
            <div class="form-head">
                <div fxLayout="row" style="font-weight:500">
                    <span style="font-size: 20px ; color: #4285F4">F</span>
                    <span style="font-size: 20px ; color: #EA4335">u</span>
                    <span style="font-size: 20px ; color: #FBBC05">n</span>
                    <span style="font-size: 20px ; color: #4285F4">d</span>
                    <span style="font-size: 20px ; color: #34A853">o</span>
                    <span style="font-size: 20px ; color: #EA4335">o</span>
                    </div> 

                <h1>Find your email</h1>
                <h3>Enter your phone number or recovery email</h3>           
            </div>
            <form class="form-container" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group" fxLayout="row" fxLayout.lt-lg="column" fxLayout.lt-lg="column" ></div>
                <div class="form-group">
                    <mat-form-field appearance="outline" class="form-field" >
                        <mat-label>Phone number or Email</mat-label>
                        <input matInput type="email" placeholder="Email" formControlName="email">
                        
                    </mat-form-field>
                </div>
                <br>
                <div class="form-group buttons">
                    <!--<a class="btn-basic ">Cancel</a>-->
                    <a class="btn-primary ">Next</a>

                </div>
            </form>
        </div>
    </div>
</div>